@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&display=swap');

.body{
    font-family: 'Archivo', 'sans-serif';
}

.custom-bg{
    background-color: #0cc1af;
}

.error{
    display: block;
    justify-content: center;
}

.error > *{
    font-family: 'Archivo';
}
.header{
    color: white;
    font-size: 150px;
    vertical-align: top;
    margin-botton:200px;
    margin-top:0px;
}

.logo{
    height: 180px;
    width: 180px;
}

.page_not_found{
    color: white;
    font-size: 100px;
    font-weight: bold;
    text-align: center;
}

.click_logo{
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.header_container{
    display: flex;
    justify-content: center;
    margin-top:20vh;
}