html {
    --accent-green: #07a091;
    --highlight-green: #0cc1af;
    --logout-yellow: #e5e175;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: var(--highlight-green);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
    font-size: 18px;
    color: black;
}

.logo img {
    width: 35px;
    height: 35px;
}

.nav-links {
    display: flex;
    gap: 100px;
}

.category {
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 5px;
}

.category_highlighted {
    color: red;
    background: #07a091;
    
}

.logout_html {
    background-color: var(--logout-yellow);
    padding: 5px 15px;
    border-radius: 20px;
}

.logout_link {
    text-decoration: none;
    color: black;
    font-weight: bold;
}
   
/* color: white;
    background: #0cc1af;
} */



footer{
    display:flex;
    justify-content: center;
}



