<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/page404.css">
        <title>404</title>
    </head>
    <body class="custom-bg">
        <div class="error">
            <div class="header_container">
                <h1 class="header">4</h1>
                <a class="redirect_link" href="{{url_for('home')}}"><img class="logo" src="../static/logo.svg"></a>
                <h1 class="header">4</h1>
            </div>
            <h2 class="page_not_found">Page Not Found</h2>
            <p class="click_logo">Click the logo to go back to the homepage</p>
        </div>
    </body>
</html>