{%extends "template.html"%}
{%block head%}
    <link rel="stylesheet" href="../static/style2.css">
{%endblock%}

{%block main%}
    <div class="accounts_form"> 
        <form class="accounts" action="{{url_for('process_account')}}" method="POST">
            <label for="select_accounts">Select an account</label>
            <select class = "card_dropdown" name="account" id="accounts" required>
                {%for account in SpendingAccounts%}
                    <option class = "card_option" value="{{account.AccountName}}">{{account.AccountName}}</option>
                {%endfor%}
            </select>
            <p class  ="">Name on Card: <input type="text" name="name_on_card" required></p>
            <p class="">Value: <input type="number" steps="any" name="amount" required></p>
            <input class="submit_value" type="submit" value="SUBMIT">
        </form> 
    </div>
    <div class="other_accounts_form">
        <form class="other_accounts" action="{{url_for('process_SpendingAccount')}}" method="POST">
            <label for="others">Others</label>
            <label for="other_accounts_name">Account Name: </label>
            <input type="text" name="account_name">
            <input class="submit_request" type="submit" value="SEND REQUEST">
        </form>
    </div>
{%endblock%}

