{%extends "template.html"%}
{%block head%}
    <title>Admin Panel</title>
    <link rel="stylesheet" href = "../static/template.css">
{%endblock%}
{%block main%}
    {%if data%}
        <form action = "{{url_for('process_request')}}" method = "POST">
            <table>
                <tr>
                    <th>Account Name</th>
                    <th> Request Email</th>
                    <th>Approve</th>
                    <th>reject</th>
                </tr>
                {%for row in data%}
                    <tr>
                        <td>{{row[0]}}</td>
                        <td>{{row[1]}}</td>
                        <td><button class = "RejectButton" name = "ApprovalStatus" value ="approve-{{row[0]}}">✓</button></td>
                        <td><button class = "AcceptButton" name = "ApprovalStatus" value ="reject-{{row[0]}}">X</button></td>
                    </tr>
                {%endfor%}
            </table>
        </form>
    {%else%}
        <p>No requests</p>
    {%endif%}
{%endblock%}
