{%entends template.html%}
{%block head%}

{%endblock%}

{%block main%}
    <div class="total_balance">
        <h3>Total Balance</h2>
        <h2>$20,000</h3>
    </div>
    <div class="cards">
        <a href="history.html" class="card">
            <img src="ocbc.jpg"></a>

        <a href="history.html" class="card">
            <img src="dbs.jpg"></a>

        <a href="history.html" class="card">
            <img src="cash.jpg"></a>    

        <a href="add_account.html" class="card">
            <img src="plus.jpg"></a>

    </div>

{%endblock%}