<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FinanceLens</title>
</head>
<body>
    <header>
        <div class = "full_logo">
            <img class="small_logo" src="../static/logo.svg">
            <p class = "logo_title">FinanceLens</p>
        </div>
        <div>
            <a class="signup" href="">Sign Up</a>
        </div>
    </header>
    <main>
        <div class="info">
            <img class="logo" src="../static/logo.svg">
            <h1 class="title"><b>FinanceLens</b></h1>
            <h2 class="motto">See Clearly, Spend Smarter</h2>
            <p class="passage">
                Take control of your finances with our all-in-one tracker. Monitor your bank accounts, cash, investments, and foreign currency prices in one easy-to-use app. Instantly see your net worth and gain the clarity you need to master your financial future. Start today!
            </p>
        </div>
        <div class ="form">
            <form class="login_details" action="" methods="POST">
                <h3 class="login">LOGIN</h3>
                <p class="email_tag">Email</p>
                <input class="email_input" type="text" name="email">
                <p class="password_tag">Password</p>
                <input class="password_input" type="text" name="password">
                <p class="register_link">Don't have an account? Register <a href="">here</a></p>
                <br>
                <input class="submit_login" type="submit" value="Login">
            </form>
        </div>
    </main>
</body>
</html>