<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FinanceLens</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <header>
        <div class = "full_logo">
            <img class="small_logo" src="../static/logo.svg">
            <p class = "logo_title">FinanceLens</p>
        </div>
         <div class = "login_container">
                <a class="loginlink" href="{{url_for('home')}}">← Login Page</a>
        </div>
    </header>
    <main class ="register_main">
        <div class = "form form_2">
            <form class="register" action="{{url_for('.process_register')}}" method="POST">
                <h3 class="register_tag">REGISTER</h3>
                <p class="email_tags">Email</p>
                <input type="email" name="email" class="email_inputs">
                <p class="name_tag">Name</p>
                <input type="text" name="name" class="name_inputs">
                <p class="password_tags">Password</p>
                <input type="password" name="password" class="password_inputs">
                <p class="cfm_password_tag">Confirm Password</p>
                <input type="password" name="cfm_password" class="cfm_password_inputs">
                <p class="login_link">Already have an account? Login <a href="{{url_for('home')}}">here</a></p>
                <input type="submit" value="Confirm" class="submit_register submit_login">
            </form>
        </div>
    </main>
    <footer class = "footer" style="display:flex;justify-content:center;">
        {%block footer_content%}{%endblock%}
        <small>Copyright &copy;2025. FinanceLens. All rights reserved</small>
    </footer>
</body>
</html>    