<!DOCTYPE html>
<html lang="en">
<head>
    {%block head%}{%endblock%}
    <link rel="stylesheet" href="../static/template.css">
</head>
<body>
    <header>   
        
        <div class = 'category_container category_highlighted'>
            <a class="category" href="">Cash</a>
        </div>
        <div class = 'category_container'>
            <a class="category" href="">Investment</a>
        </div>   
        <div class = 'category_container'>
            <a class="category" href="">Foreign Exchange</a> 
        </div>
        <div class = 'category_container'>
            <a class="category" href="">Net Worth</a> 
        </div>
        <div class = 'logout_html'>
            <a class="logout_link" href="">Logout</a>
        </div>

            
            
        
    </header>
    <main>
        {%block main%}
        {%endblock%}
    </main>
    <footer class = "footer">
        {%block footer_content%}{%endblock%}
        <small>Copyright &copy;2025. FinanceLens. All rights reserved</small>
    </footer>

</body>
</html>