<!DOCTYPE html>
<html lang="en">
<head>
    {%block head%}{%endblock%}
    <link rel="stylesheet" href="../static/template.css">
</head>
<body>
    <header class="navbar">
    <div class="logo">
        <img src="../static/logo.svg" alt="FinanceLens Logo">
        <span>FinanceLens</span>
    </div>

    <nav class="nav-links">
        <a class="category {%if request.endpoint =='home'%}category_highlighted{%endif%}" href="{{url_for('home')}}">Cash</a>
        <a class="category" href="">Investment</a>
        <a class="category" href="">Foreign Exchange</a>
        <a class="category" href="">Net Worth</a>
    </nav>

    <div class="logout_html">
        <a class="logout_link" href="{{url_for('logout')}}">LOGOUT</a>
    </div>
 
    </header>
    <main>
        {%block main%}
        {%endblock%}
    </main>
    <footer class = "footer">
        {%block footer_content%}{%endblock%}
        <small>Copyright &copy;2025. FinanceLens. All rights reserved</small>
    </footer>

</body>
</html>