{%extends "template.html"%}

{%block head%}
    <link rel="stylesheet" href="../static/style3.css">
{%endblock%}

{%block main%}
    <div class="info">
        <div class ="balance_class">
            <p class="balance">Balance</p>
            <p class="amount">{{account.Amount}}</p>
        </div>
        <div class="cardbox">
            <p class="card">{{account.AccountName}}|{{account.NameOnCard}}</p>
        </div>
    </div>
    <div class="transaction_custom">
        <p class="thtag">Transaction History</p>
        <div class="filter">
            <form class='filter_form' action="" method="POST">
                <label for="filterdropdown">Filters:</label>
                <select class="filterdropdown" name = "filter">
                    <option value = "All Time" {% if select == 0%}selected{%endif%}>All Time</option>
                    <option value = "1 day" {% if select == 1%}selected{%endif%}>1 day</option>
                    <option value = "1 week" {% if select == 2%}selected{%endif%}>1 week</option>
                    <option value = "1 month" {% if select == 3%}selected{%endif%}>1 month</option>
                </select>
                <input class='submitbutton' type="submit" value="+"> 
            </form>
        </div>
        <div class="addtransaction_box">
            <a class="add_transaction" href="{{url_for('add_transaction',AccountDetails = AccountDetails)}}">Add Transaction</a>
        </div>
    </div>
    
    {%if transactions%}
        <div class = "transaction_container">
            {%for transaction in transactions%}
                {%if transaction.IsExpense%}
                    <div class="transaction_list">
                        <div class="transaction_info">
                            <div class="category&id">
                                <p><b>Expense Category: {{transaction.Category}}</b><br>Date: {{transaction.Date}}</p>
                                <p>Transaction ID: {{transaction.TransactionID}}</p>
                            </div>
                            <div class="showdetails">
                                <a class='detailspage' href="{{url_for('transaction_details',transactionID = transaction.TransactionID)}}">Show details</a>
                            </div>
                        </div>
                        <div class="money_info">
                            <p class="money expense">-${{ "%.2f"|format(transaction.Amount) }}</p>
                        </div>
                    </div>
                {%else%}
                    <div class="transaction_list">
                        <div class="transaction_info">
                            <div class="category&id">
                                <p><b>Income</b><br>Date: {{transaction.Date}}</p>
                                <p>Transaction ID: {{transaction.TransactionID}}</p>
                            </div>
                            <div class="showdetails">
                                <a class='detailspage' href="{{url_for('transaction_details',transactionID = transaction.TransactionID)}}">Show details</a>
                            </div>
                        </div>
                        <div class="money_info">
                            <p class="money income">+${{ "%.2f"|format(transaction.Amount) }}</p>
                        </div>
                    </div>
                {%endif%}
            {%endfor%}
        </div>
    {%else%}
        <p>No Transactions Added</p>
    {%endif%}
{%endblock%}




