{%extends "template.html"%}

{%block head%}
    <title>Details</title>
{%endblock%}

{%block main%}
    <h2 class="detail_tag">Transaction Details</h2>
    <hr>
    <div class="details_box">
        <p for="tran_type">Transaction Type: {%if transaction.IsExpense%}Expense{%else%}Income{%endif%} </p>
        <p for="amount">Amount: ${{transaction.Amount}} </p>
        {% if transaction.IsExpense%}
            <p for="category">Category: {{transaction.Category}}</p>
        {%endif%}
        <p for="tran_date">Transaction Date: {{transaction.Date}} </p>
        <p for="trans_id">Transaction ID: {{transaction.TransactionID}}</p>
        <p for="description">Description: {{transaction.Description}}</p> 
    </div>

{%endblock%}